@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  /* Color tokens */
  --white: #ffffff;
  --black: #0d1117; /* Graphite */
  --grey-dark: #495668; /* Slate */
  --grey-light: #d8dde6; /* Steel */
  --grey-lightest: #f7f8f9; /* Frost */
  
  --primary: #0057B8; /* Civic Blue */
  --primary-light: #97D3FF; /* Skydome Blue */
  --primary-lightest: #E0F2FF; /* Ice */

  --success: #008046; /*High Park Green */
  --warning: #F39113; /* Subway Line Yellow */
  --danger: #D32522; /* TTC Red */

  --background: var(--white);
  --foreground: var(--black);

  --font-body: var(--font-ibm-plex-sans);
  --font-heading: var(--font-epilogue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  var(--black);
    --foreground: var(--white);
  }
}

@layer base {

  /* ----- Heading styles ----- */

  h1, .text-h1, .text-display {
    font-family: var(--font-heading), sans-serif;
    @apply text-[1.875rem] md:text-[2.25rem] lg:text-[3rem] font-extrabold leading-[1.1] tracking-[-0.02em];
  }
  
  h2, .text-h2 {
    font-family: var(--font-heading), sans-serif;
    @apply text-[1.375rem] md:text-[1.875rem] font-bold leading-[1.2];
  }

  h3, .text-h3 {
    font-family: var(--font-heading), sans-serif;
    @apply text-[1.125rem] md:text-[1.25rem] font-bold leading-[1.2];
  }
  
  /* ----- Body text styles ----- */

  p, .text-body {
    font-family: var(--font-body), sans-serif;
    @apply text-[1rem] font-normal leading-[1.5];
  }

  .text-small {
    font-family: var(--font-body), sans-serif;
    @apply text-[0.875rem] font-normal leading-[1.5];
  }
  
  .text-button {
    font-family: var(--font-body), sans-serif;
    @apply text-[1rem] font-semibold leading-[1.4];
  }

  .text-link, .classic-link {
    @apply underline text-[var(--primary)] dark:text-[var(--primary-light)];
  }

  /* ----- Button styles ----- */

  .button {
    /* Default button is solid primary  */
    @apply 
    inline-flex items-center justify-center
    px-4 py-3 whitespace-nowrap
    text-button border
    transition-all duration-200
    text-white bg-[var(--primary)] border-[var(--primary)]; 
  }
  
  .button-outline {
    @apply text-[var(--primary)] bg-transparent hover:bg-[var(--primary-lightest)]
    dark:text-white dark:border-white dark:hover:bg-white/10;
  }
  
  .button-outline-white {
    @apply text-white bg-transparent border-white;
  }
  
  .button-outline-neutral {
    @apply text-[var(--black)] bg-transparent border-gray-400
    dark:text-neutral-50 dark:border-neutral-600;
  }
  
  .button-ghost {
    @apply text-black bg-transparent border-transparent hover:bg-[var(--primary-lightest)]
    dark:text-white dark:hover:bg-white/10;
  }
  
  .button-solid-white {
    @apply  text-[var(--primary)] bg-white border-white hover:bg-[var(--primary-lightest)];
  }
}

html {
  /* When clicking anchor links (e.g. <a href="#some-section">),
  the browser scrolls the linked section to the top of the page by default.
  This causes the section content to be hidden behind our sticky header!
  Adding this scroll padding that's slightly larger than the height of our
  header causes the content to be scrolled just under the header instead. */
  scroll-padding-top: 80px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.rich-html-styles ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.rich-html-styles strong {
  font-weight: bold;
}
